body
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color:#c1d4f2;
}
#menu
{	border-radius:10px;
	padding: 10px;
	background-color:#658fd3;
}
#szukaj
{
	float:right;
	padding: 10px;
}
.MenuOption
{
	padding: 10px;
	float:right;
	color: black;
	border-right: 2px dotted #cccccc;
}
.MenuOption:hover
{
	background-color: #4d81d4;
	cursor: pointer;
}
#logo
{
	float:left;
	margin-bottom:20px;
	margin-right:20px;
}
#tytul
{
	font-size: 50px;
	margin-top: 150px;
	float:left;
	margin-bottom:20px;
}
#OMnieMini
{
	border-radius:10px;
	background-color:#658fd3;
	padding: 20px;
	margin-top: 20px;
	margin-left: 10px;
	float:left;
	width: 150px;
}
#glowna
{
	float:left;
}
#footer
{
	border-radius:10px;
	background-color:#658fd3;
	width: 1000px;
	text-align: center;
	padding:10px;
}
.post
{
	border-radius:10px;
	background-color:#658fd3;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	width: 760px;
}
.czytajDalej:hover
{
	cursor: pointer;
}